<a href="https://colab.research.google.com/github/lxthames/bitcoin_time_series_prediction-/blob/main/pre_dic_pri_bt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

data_loading

In [ ]:
import pandas as pd

In [ ]:
btc = pd.read_csv("https://github.com/JesperDramsch/skillshare-financial-prediction/raw/main/data/btc_hourly.csv")

In [ ]:
btc['Timestamp']= pd.to_datetime(btc.Timestamp)
btc.set_index('Timestamp', inplace=True)

In [ ]:
btc.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 07:00:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2011-12-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

describe data

In [ ]:
btc.head(
    
)

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 07:00:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
2011-12-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
btc.tail()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2021-03-30 20:00:00,58686.619500,58717.499833,58649.440333,58678.720333,1.976271,116009.666363,58682.385127
2021-03-30 21:00:00,58703.792500,58718.812833,58688.192000,58709.001000,0.960084,56335.721540,58705.094588
2021-03-30 22:00:00,58788.743667,58806.029333,58770.925667,58788.207333,1.133653,66663.661684,58788.454429
2021-03-30 23:00:00,58667.730345,58681.061379,58655.068966,58668.632586,1.350504,79205.951112,58666.750127
2021-03-31 00:00:00,58767.750000,58778.180000,58755.970000,58778.180000,2.712831,159417.751000,58764.349363

describe columns

In [ ]:
btc.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume_(BTC)', 'Volume_(Currency)',
       'Weighted_Price'],
      dtype='object')

In [ ]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81066 entries, 2011-12-31 07:00:00 to 2021-03-31 00:00:00
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Open               77534 non-null  float64
 1   High               77534 non-null  float64
 2   Low                77534 non-null  float64
 3   Close              77534 non-null  float64
 4   Volume_(BTC)       77534 non-null  float64
 5   Volume_(Currency)  77534 non-null  float64
 6   Weighted_Price     77534 non-null  float64
dtypes: float64(7)
memory usage: 4.9 MB

In [ ]:
btc.isnull().values.any()

True

In [ ]:
btc[btc.isnull().values.any(axis=1)].head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
btc = btc[btc.index.year>2015].dropna()

In [ ]:
btc.head()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2016-01-01 00:00:00,431.571842,431.683947,431.350526,431.466842,1.087394,469.169648,431.486899
2016-01-01 01:00:00,430.470968,430.612258,430.317742,430.464194,1.006846,433.216050,430.461480
2016-01-01 02:00:00,431.021923,431.075385,430.962308,431.013462,0.471009,202.855008,430.992236
2016-01-01 03:00:00,431.493784,431.681892,431.373243,431.600811,2.026601,876.422114,431.577192
2016-01-01 04:00:00,434.310408,434.438163,434.135306,434.281633,17.771499,7719.402352,434.306570